
#
# lolMiner 1.0 configuration
# uncomment a line (remove the starting "#") to set an option in this file
# The available options are the same as in the command line
# See readme.txt to get a list of available options  
#

################################################################################
# Required Options
################################################################################

algo=ETCHASH
pool=stratum+tcp://stratum-etc.antpool.com:8008
user=0x91109d3C865971DdC7566A9D85A803a74e003ACB.AyroWorkerRig1

################################################################################
# Comfort functions
################################################################################

apiport=8081
shortstats=10
longstats=60

